.navBar{
    border-bottom: 1px solid #7b7b7b;
    background-color: #232323;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.btnSearch{
    position: relative;
    /* right: 49%; */
    font-family: 'Rubik', sans-serif;
    border: none;
    background-color: transparent;
    color: #FFFFFF;
    transition: 0.2s;
}
.btnSearch:hover{
    color: #7b7b7b;
    border-bottom: solid 2px #7b7b7b;
}

.input{
    position: relative;
    /* right: 50%; */
    width: 18rem;
    background-color: #7b7b7b;
    border-radius: 0.5rem;
    border: none;
    font-weight: 600;
    padding: 0px 12px 0 38px;
}

input::placeholder{
    font-family: 'Rubik', sans-serif;
    color: #ffffff8d;
    font-size: 14px;
}
.input:hover::placeholder{
    color: #232323;
    font-weight: 600;
}

.btnCreate{
    font-family: 'Rubik', sans-serif;
    background-color: transparent;
    color: #ffffff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.3rem;
    transition: 0.3s;
    position: relative;
}

.btnCreate:hover{
    background-color: #434343;
    /* border-bottom: solid 2px #ffffff8d; */
}

.h1 {
  color: #ffffff92;
  left: 0;
  letter-spacing: 5px;
  width: 100%;
  animation: move linear 2000ms infinite;
  font-family: "Rubik", sans-serif;
  position: relative;
  /* top: 1rem; */
  font-size: 3rem;
  margin: 1rem;
}
@keyframes move {
  0% {
    text-shadow: 4px -4px 0 #da0641, 3px -3px 0 #da0641, 2px -2px 0 #da0641,
      1px -1px 0 #da0641, -4px 4px 0 #13f1fc, -3px 3px 0 #13f1fc,
      -2px 2px 0 #13f1fc, -1px 1px 0 #13f1fc;
  }
  25% {
    text-shadow: -4px -4px 0 #13f1fc, -3px -3px 0 #13f1fc, -2px -2px 0 #13f1fc,
      -1px -1px 0 #13f1fc, 4px 4px 0 #da0641, 3px 3px 0 #da0641,
      2px 2px 0 #da0641, 1px 1px 0 #da0641;
  }
  50% {
    text-shadow: -4px 4px 0 #da0641, -3px 3px 0 #da0641, -2px 2px 0 #da0641,
      -1px 1px 0 #da0641, 4px -4px 0 #13f1fc, 3px -3px 0 #13f1fc,
      2px -2px 0 #13f1fc, 1px -1px 0 #13f1fc;
  }
  75% {
    text-shadow: 4px 4px 0 #13f1fc, 3px 3px 0 #13f1fc, 2px 2px 0 #13f1fc,
      1px 1px 0 #13f1fc, -4px -4px 0 #da0641, -3px -3px 0 #da0641,
      -2px -2px 0 #da0641, -1px -1px 0 #da0641;
  }
  100% {
    text-shadow: 4px -4px 0 #da0641, 3px -3px 0 #da0641, 2px -2px 0 #da0641,
      1px -1px 0 #da0641, -4px 4px 0 #13f1fc, -3px 3px 0 #13f1fc,
      -2px 2px 0 #13f1fc, -1px 1px 0 #13f1fc;
  }
}