:root{
    --color-text: #bfbfbf;
}

.sideContainer{
    color: antiquewhite;
    width: inherit;
    padding: 1rem;
}
.h1Filter{
    font-family: 'VT323', sans-serif;
    font-size: 2rem;
    
}

.filterGenres{
    font-family: 'Rubik', sans-serif;
    background: transparent;
    color: var(--color-text);
    border: none;
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--color-text);
     >option{
        color: black;
        text-decoration: none;
        background-color: var(--color-text);
    }
}
.orderName{
    font-family: 'Rubik', sans-serif;
    background: transparent;
    color: var(--color-text);
    border: none;
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--color-text);
     >option{
        color: black;
        text-decoration: none;
        background-color: var(--color-text);
    }
}
.orderRating{
    font-family: 'Rubik', sans-serif;
    color: var(--color-text);
    background: transparent;
    border: none;
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--color-text);
    >option{
        color: black;
        text-decoration: none;
        background-color: var(--color-text);
    }
}
.filterOrigin{
    font-family: 'Rubik', sans-serif;
    background: transparent;
    color: var(--color-text);
    border: none;
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--color-text);
     >option{
        color: black;
        text-decoration: none;
        background-color: var(--color-text);
    }
}